body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f7f7f7;
  }

  h1 {
    font-size: 1.5rem;
    text-align: center;
  }

  .schedule {
    max-width: 100%;
    margin: 0 auto;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 5px;
  }

  .time-block {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }

  .time-block:last-child {
    border-bottom: none;
  }

  .client-info {
    flex-grow: 1;
    margin-left: 10px;
    font-size: 0.9rem;
  }

  .time-label {
    width: 60px;
    font-weight: bold;
    font-size: 1rem;
  }

  .add-client {
    padding: 8px 12px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 0.9rem;
  }

  .booked {
    background-color: #ffcccc;
  }

  .date-selector {
    margin-bottom: 20px;
    text-align: center;
  }

  .date-selector input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
  }
  #clientForm {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    background-color: white;
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  #clientForm input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
  }
  

  @media (max-width: 768px) {
    body {
      padding: 10px;
    }

    .time-block {
      flex-direction: column;
      align-items: flex-start;
    }

    .time-label, .client-info, .add-client {
      margin: 5px 0;
    }

    .add-client {
      width: 100%;
      text-align: center;
    }
  }
